table.camper-table {
    width: 95%;
    margin: 0 auto;

    thead {
        font-size: 12pt;

        th.cell-showing {
            text-align: right;
            border-bottom: 0;
        }

        th:nth-child(3), 
        th:nth-child(4) {
            text-align: center;
        }

        border-bottom: 2px solid;
    }
}
